.container{
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url(./images/bg-body.png);
    background-color: transparent;
 
    
  
}


.logo{
    display:block;
    margin:auto;
    
  
}

.barrasuperior{
 
    list-style: none;
    text-align: center;
    display : flex;


}

.main-header{
    width: 100%;
    padding: 0%;
}


.barrainferior{
    display : flex;
  list-style: none;
  text-align: center;
  background-color: #BC504F;
  width: 103%;
  height: 67%;

  border-radius: 10px 10px 10px 10px;
  background-size: 50px 100px;
  justify-content: center;
  align-items: center;
   

}

.barrainferior a{
    color: white;
    background-size: 50px;
    font-size: 20px;
    text-align: center;
}

.zoom:hover{
    color: white;
    font-weight: black;
    text-decoration: none;
    transform: scale(1.5);

}




.photo-container{
  
margin: 10px;



}

.btn{
    margin: 10px;
}

.btn-lg{
    width: 100%;
}


.photo-container
{
    position: relative;
    width: 100%;
    margin:10px;
}

.special{
    position: absolute;
    right: 50px;
    top:0px;
}

.zoom{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 45%;
    background-color: rgba(0,0,0,0.4);
    padding: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  
}
.photo{
    width: 100%;
}

.banner img{
    width: 100%;
}

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.main-footer{
    padding: 0%;
}